html {
  width: 350px;
  height: 570px;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f1f1f1;
}

body {
  margin: 0px;
}

img {
  image-rendering: auto;
}

h2 {
  margin-top: 0px;
  font-family: "EB Garamond";
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 6px;
}

a {
  color: white;
}

hr {
  position: absolute;
  width: 350px;
  height: 1px;

  background-color: #e1e1e1;
  border: none;
}

.title {
  font-family: EB Garamond;
  font-style: normal;
  font-weight: 600;
}

.banner {
  position: absolute;
  width: 102px;
  height: 35px;
  left: 16px;
  top: 7px;

  font-size: 20px;
  line-height: 33px;
  /* Fallback: Set a background color. / */
  background-color: #d317e5;

  /* / Create the gradient. / */
  background-image: linear-gradient(45deg, #20d6e5, #d317e5);

  /* / Set the background size and repeat properties. / */
  background-size: 100%;
  background-repeat: repeat;

  /* / Use the text as a mask for the background. / */
  /* / This will show the gradient as a text color rather than element bg.  */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.footer {
  background-color: #ffffff;
  position: fixed;
  width: 350px;
  height: 25px;
  bottom: 0px;
}

.footer p {
  position: absolute;
  left: 10px;
  bottom: 5px;
  margin: 0px;
}

.footer a {
  position: absolute;
  right: 10px;
  bottom: 5px;

  text-decoration: none;

  font-size: 12px;
  line-height: 16px;

  color: black;
}

.close {
  cursor: pointer;
}

#closeAll {
  position: absolute;
  left: 320px;
  top: 9px;
  width: 20px;
  height: 20px;
  font-size: 23px;
  color: #b6b6b6;
}

#closeNews {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 23px;

  font-size: 22px;
  font-weight: 100;
}

#closeNoNews {
  position: absolute;
  right: 26px;
  top: 16px;

  font-size: 22px;
  font-weight: 100;
}

#headerHR {
  left: 0px;
  top: 40px;
}

#footerHR {
  bottom: 25px;
  margin: 0px;
}

.header {
  background-color: #ffffff;
  width: 350px;
  height: 46px;
}

.content {
  position: absolute;
  top: 47px;
  width: 350px;
  height: 499px;
  align-content: center;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0px;

  font-family: "Open Sans", "Trebuchet MS", sans-serif;
}

.center {
  margin-left: 18px;
  margin-right: 18px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.container {
  width: auto;
  /* height: auto; */
  margin-top: 18px;
  margin-bottom: 18px;

  background: white;
  border-radius: 6px;
  padding: 18px;
}

#news {
  background-color: #be5151;
  color: #ffffff;
}

#noNews {
  background-color: #282828;
  color: white;

  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 15px;
  font-weight: 600;
}

.description {
  font-size: 15px;
  font-weight: 400;
}

.readMore {
  font-size: 13px;
  color: white;
}

.report {
  position: relative;
  left: 249px;

  text-align: right;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
}

.ratingColumn {
  /* border: black 1px solid; */
  width: 100%;
}

.right-border {
  border-right: rgba(0, 0, 0, 0.2) 1px solid;
  margin-right: 10px;
}

.small-bottom-margin {
  padding-bottom: 10px;
}

.linear-border {
  padding: 2px;
  background-image: -webkit-linear-gradient(left, #7c75e6, #d219e6);
  border-radius: 10px;
  width: 180px;
}

.scNodeDetails {
  padding: 8px 10px;
  background: #fff;
  border-radius: 8px;
}

.scNodeHeading {
  font-size: 11px;
}

.full-width {
  width: 100%;
  margin: 0px;
}

.content::-webkit-scrollbar {
  display: none;
}
